#build-info-raw-data.collapsed {
  display: none;
}
#show-raw-data {
  cursor: default;
}
#show-raw-data:hover {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  width: 100%;
}
td, tr {
  border: 1px solid #ccc;
}
thead {
  background-color: #eee;
}